# Secrets
.env
.env.example

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.egg-info/

# Streamlit
.streamlit/

# Data generated at runtime
data/videos/*
data/audio/*
data/transcripts/*
data/vectorstore/*
!data/videos/.gitkeep
!data/audio/.gitkeep
!data/transcripts/.gitkeep
!data/vectorstore/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

downloads
downloades